{% extends "layout.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}
    {% button_new "Nova kategorija" "/quote-category/form/" %}

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Naziv" "name" "87" "left" %}
                {% th_operation %}
            </tr>
            {% for row in rows %}
                <tr>
                    {% td row.pk "pk" %}
                    {% with link=row.pk|format:"<a href='/quote-category/details/%s/'>"|add:row.name|add:"</a>" %}
                        {% td link "name" "left" %}
                    {% endwith %}
                    {% with view=row.pk|format:"<a href='/quote-category/details/%s/' class='view'></a>" %}
                    {% with edit=row.pk|format:"<a href='/quote-category/form/%s/' class='edit'></a>" %}
                    {% with delete=row.pk|format:"<a href='/quote-category/delete/%s/' class='delete'></a>" %}
                        {% td view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}